body{
    background: whitesmoke;
    font-size: 15pt;
    font-family: sans-serif;
    text-align: center;

}
h3{
    text-transform: uppercase;
}
form{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: #ffff;
    height: 400px;
    width: 350px;
    box-shadow: 2px 3px 2px 3px rgb(172, 172, 172);
    border-radius: 10px 10px 0 0;
}
.nome,.email{
    border: 1px solid #111;
    outline: none;
    margin-top: 10px;
    width: 200px;
    padding: 5px;
}
.nome:focus,.email:focus{
    width: 210px;
}
.nome:hover,.email:hover{
    padding: 7px;
}
.text{
    margin-top: 10px;
}
.btn{
    background: none;
    padding: 9px;
    border-radius: 20px;
    width: 100px;
}
